{% extends "layout/base.html.twig" %}
{% set page = 'home' %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Inventory Management System</h1>
        <p class="lead">An inventory management system has several critical components. At its core, inventory control works by tracking the two main functions of a warehouse — receiving (incoming) and shipping (outgoing). Other activities such as movement, or relocating, of inventory also take place.
            Raw materials are decremented and finished goods are incremented</p>
        <hr class="my-4">

        <ul>
           <li>Incoming shipments</li>
           <li>Outgoing orders</li>
           <li>Inventory</li>
           <li>Suppliers</li>
        </ul>
    </div>
{% endblock %}